@media screen and (min-width: 0px) and (max-width: 480px) {
  .itaPost {
    padding: 15px;
    border-bottom: 1px solid black;
  }

  .userTimeInfo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .userTimeInfo p {
    font-weight: 200;
  }

  .timeDots {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
  }

  .itaHeader {
    padding-bottom: 10px;
  }

  .itaPostClick {
    text-decoration: none;
    color: var(--primary-font-black);
  }

  .itaInterface {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .itaContent p {
    margin-bottom: 1.2rem;
    line-height: 1.6;
    font-weight: 300;
  }
}
