* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: #ff6f6f;
  --main-bg-color: #ff6f6f;
  --primary-font-white: #ffff;
  --primary-font-black: #000;
}
